<form [formGroup]="registerForm" (submit)="handleSubmitEvent()">
  <h3 class="mb-3">Sign up</h3>

  <h5>General</h5>

  <div class="form-group"
       [ngClass]="{'form-group-error': registerForm.get('username').touched && registerForm.get('username').hasError('required')}">
    <label for="username">Username
      <wj-required-mark></wj-required-mark>
    </label>
    <input type="text" class="form-control" name="username" id="username" formControlName="username">
    <small class="form-text text-danger"
           *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')">
      Please enter a username
    </small>
  </div>

  <div class="form-group"
       [ngClass]="{'form-group-error': registerForm.get('email').touched && registerForm.get('email').invalid}">
    <label for="email">Email
      <wj-required-mark></wj-required-mark>
    </label>
    <input type="text" class="form-control" name="email" id="email" formControlName="email">
    <small class="form-text text-danger"
           *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
      Please enter an email
    </small>

    <small class="form-text text-danger"
           *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')">
      Please enter a valid email
    </small>
  </div>

  <div class="form-group"
       [ngClass]="{'form-group-error': registerForm.get('password').touched && registerForm.get('password').invalid}">
    <label for="password">Password
      <wj-required-mark></wj-required-mark>
    </label>
    <input type="password" class="form-control" name="password" id="password" formControlName="password">
    <small class="form-text text-danger"
           *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
      Please enter a password
    </small>
  </div>

  <div class="form-group"
       [ngClass]="{'form-group-error': registerForm.get('passwordConfirmation').touched && registerForm.get('passwordConfirmation').invalid}">
    <label for="password-confirmation">Confirm password
      <wj-required-mark></wj-required-mark>
    </label>
    <input type="password" class="form-control" name="password-confirmation" id="password-confirmation"
           formControlName="passwordConfirmation">
    <small class="form-text text-danger"
           *ngIf="registerForm.get('passwordConfirmation').touched && registerForm.get('passwordConfirmation').hasError('required')">
      Please confirm your password
    </small>

    <small class="form-text text-danger"
           *ngIf="registerForm.get('passwordConfirmation').touched && registerForm.get('passwordConfirmation').hasError('confirmation')">
      Password does not match
    </small>
  </div>

  <h5>Contact info</h5>

  <div class="form-row">

    <div class="form-group col-md-6"
         [ngClass]="{'form-group-error': registerForm.get('firstName').touched && registerForm.get('firstName').hasError('required')}">
      <label for="firstName">First name
        <wj-required-mark></wj-required-mark>
      </label>
      <input type="text" class="form-control" name="firstName" id="firstName" formControlName="firstName">
      <small class="form-text text-danger"
             *ngIf="registerForm.get('firstName').touched && registerForm.get('firstName').hasError('required')">
        Please enter your name
      </small>
    </div>

    <div class="form-group col-md-6"
         [ngClass]="{'form-group-error': registerForm.get('lastName').touched && registerForm.get('lastName').hasError('required')}">
      <label for="lastName">Last name
        <wj-required-mark></wj-required-mark>
      </label>
      <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName">
      <small class="form-text text-danger"
             *ngIf="registerForm.get('lastName').touched && registerForm.get('lastName').hasError('required')">
        Please enter your surname
      </small>
    </div>
  </div>

  <div class="form-group"
       [ngClass]="{'form-group-error': registerForm.get('phoneNumber').touched && registerForm.get('phoneNumber').hasError('required')}">
    <label for="phoneNumber">Phone number
      <wj-required-mark></wj-required-mark>
    </label>
    <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber">
    <small class="form-text text-danger"
           *ngIf="registerForm.get('phoneNumber').touched && registerForm.get('phoneNumber').hasError('required')">
      Please enter your phone number
    </small>
  </div>

  <h5>Address</h5>

  <div class="form-row">
    <div class="form-group col-md-8"
         [ngClass]="{'form-group-error': registerForm.get('street').touched && registerForm.get('street').hasError('required')}">
      <label for="street">Street</label>
      <input type="text" class="form-control" name="street" id="street" formControlName="street">
    </div>

    <div class="form-group col-md-4"
         [ngClass]="{'form-group-error': registerForm.get('houseNumber').touched && registerForm.get('houseNumber').hasError('required')}">
      <label for="houseNumber">House number</label>
      <input type="text" class="form-control" name="houseNumber" id="houseNumber" formControlName="houseNumber">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8"
         [ngClass]="{'form-group-error': registerForm.get('city').touched && registerForm.get('city').hasError('required')}">
      <label for="city">City</label>
      <input type="text" class="form-control" name="city" id="city" formControlName="city">
    </div>

    <div class="form-group col-md-4"
         [ngClass]="{'form-group-error': registerForm.get('postcode').touched && registerForm.get('postcode').hasError('required')}">
      <label for="postcode">Postcode</label>
      <input type="text" class="form-control" name="postcode" id="postcode" formControlName="postcode">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6"
         [ngClass]="{'form-group-error': registerForm.get('province').touched && registerForm.get('province').hasError('required')}">
      <label for="province">Province</label>
      <input type="text" class="form-control" name="province" id="province" formControlName="province">
    </div>

    <div class="form-group col-md-6"
         [ngClass]="{'form-group-error': registerForm.get('country').touched && registerForm.get('country').hasError('required')}">
      <label for="country">Country</label>
      <input type="text" class="form-control" name="country" id="country" formControlName="country">
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
</form>
