<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li><a class="waves-effect waves-dark" href="index.html" aria-expanded="false"><i
          class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
        </li>
        <li><a class="waves-effect waves-dark" href="pages-profile.html" aria-expanded="false"><i
          class="fa fa-user-circle-o"></i><span class="hide-menu">Profile</span></a>
        </li>
        <li><a class="waves-effect waves-dark" href="table-basic.html" aria-expanded="false"><i
          class="fa fa-table"></i><span class="hide-menu">Tables</span></a>
        </li>
        <li><a class="waves-effect waves-dark" href="icon-fontawesome.html" aria-expanded="false"><i
          class="fa fa-smile-o"></i><span class="hide-menu">Icons</span></a>
        </li>
        <li><a class="waves-effect waves-dark" href="map-google.html" aria-expanded="false"><i
          class="fa fa-globe"></i><span class="hide-menu">Map</span></a>
        </li>
        <li><a class="waves-effect waves-dark" href="pages-blank.html" aria-expanded="false"><i
          class="fa fa-bookmark-o"></i><span class="hide-menu">Blank</span></a>
        </li>
        <li><a class="waves-effect waves-dark" href="pages-error-404.html" aria-expanded="false"><i
          class="fa fa-question-circle"></i><span class="hide-menu">404</span></a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
