<nav class="navbar navbar-expand navbar-light">
  <div class="col-md-12">

    <div class="container">
      <a class="navbar-brand" routerLink="">Books Store</a>

      <div class="flex-row d-flex">
        <div class="nav navbar-nav mr-3" *bsHideInCheckout>
          <a *bsAuthenticated="true" class="nav-item nav-link" [routerLink]="['checkout', 'cart']"
             routerLinkActive="active">
          </a>
        </div>

        <form [formGroup]="searchForm" (ngSubmit)="handleSearchClick()" class="search-bar input-group"
              *bsHideInCheckout>
          <input type="text" class="form-control" aria-label="Search" formControlName="search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" [disabled]="searchForm.invalid">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
