<form [formGroup]="forgotPasswordForm" (submit)="handleFormSubmit()">

    <h3 class="mb-3">Remember password</h3>

    <div class="form-group"
         [ngClass]="{'form-group-error': forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid}">
      <label for="email">Email <wj-required-mark></wj-required-mark></label>
      <input type="text" class="form-control" name="email" id="email" formControlName="email">
      <small class="form-text text-danger"
             *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').hasError('required')">
        Please enter an email
      </small>

      <small class="form-text text-danger"
             *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').hasError('email')">
        Email is invalid
      </small>
    </div>

  <div class="mb-3">
    <a [routerLink]="'/auth/login'">
      Sign in
    </a>
  </div>

    <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Send</button>
</form>
